@font-face {
  font-family: 'Droid Sanss';
  font-style: normal;
  font-weight: 400;
  src: url(../drSans.woff2) format('woff2');
}
@font-face {
  font-family: 'Droid Sherif';
  font-style: normal;
  font-weight: 400;
  src: url(../droidSherif.woff2) format('woff2'); 
}


.wrapper{
    
    text-align: center;
}
.wrapper h1{
    font-weight: bold;
    font-family: 'Droid Sherif';
    
}
    

.wrapper p{
    padding-top: 0.7em;
   color: rgb(153,153,153);
     font-style: italic;
    
   
    
    
}
.wrapper p:first-of-type{
    
   font-style: normal;
    color:rgb(95,95,95);
    
}

.wrapper h3{
    padding-top: 1em;
    font-family: 'Droid Sanss';
    color: rgb(81, 81, 81);
    font-size: 24px;
}

.onasWrap{
    text-align: center;
}
.onasWrap h1{
    font-family: 'Droid Sherif';
    padding: 0.6em 0em;
    margin: 0px;

}
.onasWrapPic{

}
.onasWrap p{
    width: 60%;
    margin:auto;
    padding-bottom: 2em;
    color: rgb(81, 81, 81);
    font-family: 'Droid Sanss';
}
.underPic{
    text-align: center;
    margin: auto;
    
}
.underPic h2{
     font-family: 'Droid Sherif';
    padding: 0.6em;
    margin: 0px;
    
}
.underPic p{
    margin: 0px;
    padding-bottom: 3.5em;
    color: rgb(81, 81, 81);
    font-family: 'Droid Sanss';
}
.locWrap{
    
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    
}
.locWrap h1{
     font-family: 'Droid Sherif';
    margin:0px;
    padding: 0.5em;
}
.locWrap p{
    
    color: rgb(81, 81, 81);
    margin:0px;
   padding-bottom: 1.7em;
}
.locWrap iframe{
    width: 70%;
    height: 18em;
    
}
.changeLoc{
    padding-top: 2em;
}
.changeLoc span{
        
        color: #818181;
    
    
}
