.uperMeu {
  list-style-type: none;
  padding: 1em;
  margin: 0px;
  color: white;
  font-weight: bold;
}
.uperMeu li {
  display: inline;
  padding-left: 0.8em;
  text-decoration: none;
}

.menuAlign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoWraper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1em 0em;
}

.mainBaner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../gallery/slider-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBanerContent {
  padding-top: 12em;
  padding-bottom: 14em;
  padding-left: 6em;
  color: white;
}
.mainBanerContent h1 {
  padding: 0em 0em;
  font-weight: bold;
  font-size: 110px;
  margin: 0px;
}
.mainBanerContent button {
  margin-top: 2em;
  border-radius: 30px;
  padding: 0.7em 2em;
}
.mainBanerContent h6 {
  font-size: 22px;
  margin: 0px;
}
.mainBanerContent h6 span {
  border-top: 3px solid red;
  padding-top: 11px;
  box-shadow: 0px;
}

.iconsBaner {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 0em;
}
.iconsBaner div {
  width: 50%;
  color: white;
}
.iconsBaner div:last-child {
  text-align: right;
}

.cardInfo {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  color: black;
}
.cardInfo h1 {
  padding: 0em 0em;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}
.cardInfo h1 span {
  border-top: 3px solid red;
  padding-top: 11px;
  box-shadow: 0px;
}
.cardInfo button {
  margin-top: 2em;
  border-radius: 30px;
  padding: 0.7em 2em;
  color: white;
}
.cardInfo h6 {
  font-size: 18px;
  margin: 0px;
  color: red;
  font-weight: bold;
  padding-bottom: 1em;
  width: 100%;
}
.cardInfo h6 span {
  border-top: 3px solid red;
  padding-top: 11px;
  box-shadow: 0px;
}
.cardInfo p {
  padding-right: 1.5em;
}

.imgJust {
  display: flex;
  justify-content: center;
  text-align: center;
}

.infoWraper {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: left;
}
@media only screen and (max-width: 760px) {
  .infoWraper {
    padding-bottom: 2em;
  }
}

.cardRow {
  padding: 5em 0em;
}

.disc {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: left;
}
.disc h3 {
  font-size: 20px;
  font-weight: bold;
}

.card {
  padding: 30px;
}
.card .ser:before {
  font-size: 60px !important;
}
.card h3 {
  font-size: 20px;
  font-weight: bold;
}

.colSerw {
  padding: 15px;
}

.spacerLine {
  border-bottom: 1px solid black;
  padding: 1em 15px;
}

.spacerLine2 {
  border-rop: 1px solid black;
  padding: 1em 15px;
}

.counter {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: left;
  flex-wrap: nowrap;
}
.counter div:first-child {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 3.5em;
}
.counter div:last-child {
  display: flex;
  align-items: center;
  font-size: 1em;
  line-height: 17px;
  padding-left: 0.5em;
  color: red;
}

.serviWrapper {
  padding: 5em 0em;
}

.sectionBackgraund {
  background-color: #f3f3f3;
}

.cardTest {
  padding: 1.4em;
  background-color: #f3f3f3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.cardTest h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}
.cardTest span {
  padding-bottom: 1em;
  text-align: center;
  color: red;
}
.cardTest p {
  font-size: 13px;
}
.cardTest img {
  padding: 2em 0em;
  margin: auto;
  border-radius: 50%;
  max-width: 90px;
}

.secendMenu {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}
.secendMenu li {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.colSecMen {
  display: flex;
  justify-content: flex-end;
}

.elem {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../gallery/01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2.5em;
  padding-top: 8em;
  border-radius: 20px;
}
.elem .buton {
  background-color: black;
  border-radius: 50%;
  border-radius: 50%;
  padding: 30px;
  width: 30px;
  position: relative;
}
.elem .buton:before {
  position: absolute;
  transform: translate(-50%, -50%);
}
.elem h5 {
  padding-top: 0.5em;
  margin: 0px;
}
.elem p {
  margin: 0px;
}

.portWrap {
  padding: 15px;
}

.rowSec {
  margin: 3em 0px;
  padding: 4em 0em;
}

.sibscribe {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 4em 0em;
}
.sibscribe h1 {
  margin: auto;
}
.sibscribe input {
  border-radius: 40px;
  padding: 1em;
}
.sibscribe button {
  margin-top: 1.3em;
  width: 15%;
  margin: 1.3em auto;
  border-radius: 15px;
}

.tesCon {
  margin-top: 3em;
}

.elemCard {
  padding: 2em;
  background-color: #efefef;
  border-radius: 5px;
}
.elemCard h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 38px;
}
.elemCard p:first-of-type {
  font-size: 13px;
  font-weight: 600;
}
.elemCard h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  color: red;
  padding: 3em 0em 1em 0em;
}
.elemCard p:last-of-type {
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 26px;
  line-height: 32px;
}

.mapa {
  max-width: 100%;
  margin: auto;
  height: 300px;
  width: 100%;
}

.mapWrap {
  margin: 5em 0em;
  padding: 5em 0em;
  margin-bottom: 0px;
}

.socIcon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.socIcon span {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1em;
}

.socIcon span:before {
  display: flex;
  align-items: center;
}

.iconsBaner {
  padding: 1em;
}

.footerLast {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.footerLast p {
  width: 100%;
  margin: 0px;
}
.footerLast div {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionBackgraund2 {
  background-color: black;
}

.obrLog {
  width: 70%;
}

.perInfo {
  padding: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.perInfo span {
  width: 100%;
  color: #797979;
}

.perRow {
  padding-bottom: 4em;
}

/*# sourceMappingURL=menu.css.map */
